<%= form_with(model: @note, local: true) do |f| %>
	<% if @note.errors.any? %>
		<% @note.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger"><%= msg%></div>
	    <% end %>
	<% end %>

	<p>
		<%= f.label :title %><br>
		<%= f.text_field(:title, {:class => 'form-control'})%>
	</p>

	<p class="form-group">
		<%= f.label :note %><br>
		<%= f.text_area(:note, {:class => 'form-control', :rows => "10"})%>
	</p>

	<p>
		<%= f.submit(:save , {:class => 'btn btn-primary'}) %>

		<%= link_to 'Back', home_path,
			  :class =>'btn btn-primary' %>
	</p>


<% end %>
